<h2>The First Component</h2>
<div>
  <!--Interpolation-->
  <strong>{{name}}</strong>
  <br>
  <strong>{{200+300}}</strong>
</div>
<br>
<div>
  <!--Property Binding-->
  <input type="text" [value]="message">
  <br>
  <a [href]="url">Web Net Helper</a>
  <br>
  <!--Event Binding-->
  <input type="button" value="Click Me" (click)="display()">
  <br>
  <!--Passs the event parameter to the method-->
  <input type="button" value="Click Me Again" (click)="displayParameter($event)">
</div>
<br>
<div class="header">
  <h6>Calculater</h6>
</div>
<div class="container">
<table class="table table-bordered center">
  <tbody>
    <tr>
      <td colspan="4"><input style="text-align:right;" type="text" [value]= "result" pattern="[0-9]+"></td>
    </tr>
    <tr>
      <td><input type="button" value="7" class="btn btn-primary" (click)= "buttonClick($event)"></td>
      
      
         <td><input type="button" value="8" class="btn btn-primary" (click)= "buttonClick($event)"></td>
      <td><input type="button" value="9" class="btn btn-primary" (click)= "buttonClick($event)"></td>
      <td><input type="button" value="+" class="btn btn-primary" (click)= "setOperator($event)"></td>        
    </tr>
    <tr>
      <td><input type="button" value="4" class="btn btn-primary" (click)= "buttonClick($event)"></td>
      <td><input type="button" value="5" class="btn btn-primary" (click)= "buttonClick($event)"></td>
      <td><input type="button" value="6" class="btn btn-primary" (click)= "buttonClick($event)"></td>
      <td><input type="button" value="-" class="btn btn-primary" (click)= "setOperator($event)"></td>
    </tr>
    <tr>
      <td><input type="button" value="1" class="btn btn-primary" (click)= "buttonClick($event)"></td>
      <td><input type="button" value="2" class="btn btn-primary" (click)= "buttonClick($event)"></td>
      <td><input type="button" value="3" class="btn btn-primary"(click)= "buttonClick($event)"></td>
      <td><input type="button" value="*" class="btn btn-primary" (click)= "setOperator($event)"></td>
    </tr>
    <tr>
      <td><input type="button" value="0" class="btn btn-primary"></td>
      <td><input type="button" value="C" class="btn btn-primary" (click)="clear()"></td>
      <td ><input type="button" value="=" class="btn btn-primary" (click) ="equalTo()" ></td>
      <td><input type="button" value="/" class="btn btn-primary" (click)= "setOperator($event)"></td>
      
    </tr>
  </tbody>
</table>
</div>

 

